/* CSS BY TIARRA KAYE */
/* CSS RESET */

:root {
    /* ROOT VARIABLES */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* GLOBAL STYLES */
    --font: "Playfair Display";
}

* {
    box-sizing: border-box;
}

.main {
    font-family: var(--font);
    margin: 0 auto;
    font-size: 12px;
    background: var(--midnight-blue);
    width: 100%;
    max-width: 100%;
}

.body {
    margin: 0 auto;
    background-color: var(--linen);
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.header {
    background-color: var(--midnight-blue);
    text-align: center;
    color: var(--soft-white);
}

.info {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
    font-family: var(--font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 20px;
    font-weight: bold;
}

.welcome {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    margin: 0 auto;
    width: 100%;
    padding: 10px 20px;
}

.offerings {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.box {
    background-color: var(--olive-green);
    text-align: left;
    color: var(--soft-white);
    font-family: var(--font);
    border-radius: 12px;
    padding: 30px;
    margin: 10px 0 10px 0;
    width: 100%;
    display: block;
}

.box-full {
    width: 100%;
    display: block;
}

.gallery {
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.gallery p {
    font-size: 1rem;
}

.gallery-text {
    margin: 0 0 20px 0;
    font-size: 1rem;
}

.gallery-cards {
    text-align: center;
}

.card {
    width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 0px;
    text-align: center;
    overflow: hidden;
    font-size: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.view-box {
    background-color: var(--olive-green);
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    color: var(--soft-white);
    width: 100%;
}

.bottom {
    text-align: center;
    color: var(--soft-white);
}

.bottom-yellow {
    text-align: center;
    color: var(--champagne-gold);
}

.yellow-bar {
    height: 3px;
    background-color: var(--champagne-gold);
    border: none;
    margin: 0 auto;
}

.info h2 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

h3 {
    color: var(--dark-charcoal);
    font-weight: light;
    font-size: 25px;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

.italics {
    font-style: italic;
    margin: 0 0 20px 0;
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {
    .main {
        font-size: 14px;
    }

    .welcome {
        width: 100%;
    }

    .offerings {
        width: 100%;
    }

    .box {
        width: 49%;
        display: inline-block;
        height: 300px;
        vertical-align: top;
    }

    .box-full {
        width: 99%;
        display: block;
        min-height: 350px;
    }

    .gallery {
        width: 100%;
    }

    .card {
        width: 19%;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5%;
    }

    .yellow-bar {
        width: 90%;
    }

    .gallery-cards {
        text-align: center;
        font-size: 0;
    }
}


/* MEDIA QUERY LARGE */
@media screen and (min-width: 900px) {
    .main {
        font-size: 16px;
    }

    .welcome {
        width: 90%;
    }


    .offerings {
        width: 90%;
    }


    .box {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        height: 230px;
    }

    .box-full {
        width: 99%;
        display: block;
        min-height: 400px;
    }

    .gallery {
        width: 90%;
    }

    .card {
        width: 19%;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5%;
    }

    .yellow-bar {
        width: 90%;
    }

    .gallery-cards {
        text-align: center;
        font-size: 0;
    }
}


/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {
    .main {
        font-size: 18px;
    }

    .welcome {
        width: 80%;
    }


    .offerings {
        width: 80%;
    }


    .box {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        height: 230px;
    }


    .box-full {
        width: 99%;
        display: block;
        height: 100px;
    }

    .gallery {
        width: 80%;
    }

    .card {
        width: 19%;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.5%;
    }

    .yellow-bar {
        width: 80%;
    }

    .gallery-cards {
        text-align: center;
        font-size: 0;
    }
}