/* CSS BY TIARRA KAYE */
/* CSS RESET */

:root {
    /* ROOT VARIABLES */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* GLOBAL STYLES */
    --font: "Playfair Display";
}

.main {
    font-family: var(--font);
    margin: 0 auto;
    font-size: small;
}

.white-section {
    margin: 0 auto;
    background-color: var(--linen);

}

.header {
    background-color: var(--midnight-blue);
    text-align: center;
    color: var(--soft-white);
    font-family: var(--font);
}

.info {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px 0;
    font-weight: bold;
}

.welcome {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    padding: 10px;
    margin: 0 auto;
}

.offerings {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    margin: 0 auto;
}

.box {
    background-color: var(--olive-green);
    text-align: left;
    color: var(--soft-white);
    font-family: var(--font);
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
    gap: 20px;
    margin: 0 auto;
}

h1 {}

h2 {}

h3 {}

.italics {
    font-style: italic;
}

body {
    background-color: var(--midnight-blue);
}

/* MEDIA QUERY MEDIUM */
@media screen and (max-width: 600px) {
    .welcome {
        width: 100%;
    }
    .offerings {
        width: 100%;
    }
}

/* MEDIA QUERY LARGE */
@media screen and (max-width: 900px) {
    .welcome {
        width: 90%;
    }
    .offerings {
        width: 90%;
    }
}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {
    .welcome {
        width: 80%;
    }
    .offerings {
        width: 80%;
    }
}