/* CSS BY TIARRA KAYE */
/* CSS RESET */

:root {
    /* ROOT VARIABLES */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* GLOBAL STYLES */
    --font: "Playfair Display";
}

.main {
    font-family: var(--font);
    margin: 0 auto;
    font-size: 18px;
}

.body {
    margin: 0 auto;
    background-color: var(--linen);
}

.header {
    background-color: var(--midnight-blue);
    text-align: center;
    color: var(--soft-white);
    font-family: var(--font);
}

.info {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
    font-family: var(--font);
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 10px 20px;
    font-weight: bold;
}

.welcome {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    padding: 10px;
    margin: 0 auto;
}

.offerings {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    margin: 0 auto;
}

.box {
    background-color: var(--olive-green);
    text-align: left;
    color: var(--soft-white);
    font-family: var(--font);
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    width: 100%;
    display: block;
}

.box-full {
    width: 98%;
    display: block;
}

h1 {}

h2 {}

.info h3 {
    flex: 1;
    text-align: center;
    margin: 0;
}

.italics {
    font-style: italic;
}

body {
    background-color: var(--midnight-blue);
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {
    .welcome {
        width: 100%;
    }

    .offerings {
        width: 100%;
    }

    .box {
        width: 10%;
        display: block;
    }

    .box-full {
        width: 50%;
        display: block;
    }
}

/* MEDIA QUERY LARGE */
@media screen and (min-width: 900px) {
    .welcome {
        width: 90%;
    }

    .offerings {
        width: 90%;
    }

    .box {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        height: 170px;
    }

    .box-full {
        width: 91%;
        display: block;
        height: 250px;
    }
}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {
    .welcome {
        width: 80%;
    }

    .offerings {
        width: 80%;
    }

    .box {
        width: 41%;
        display: inline-block;
        vertical-align: top;
    }

    .box-full {
        width: 91%;
        display: block;
    }
}