/* CSS BY TIARRA KAYE */
/* CSS RESET */

:root {
    /* ROOT VARIABLES */
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    /* GLOBAL STYLES */
    --font: "Playfair Display";
}

.main {
    font-family: var(--font);
    margin: 0 auto;
}

.body {
    margin: 0 auto;
    background-color: var(--linen);
}

.header {
    background-color: var(--midnight-blue);
    text-align: center;
    color: var(--soft-white);
    font-family: var(--font);
}

.info {
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
    font-family: var(--font);
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 10px 20px;
    font-weight: bold;
}

.welcome {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    padding: 10px;
    margin: 0 auto;
}

.offerings {
    background-color: var(--linen);
    text-align: left;
    color: var(--dark-charcoal);
    font-family: var(--font);
    margin: 0 auto;
}

.box {
    background-color: var(--olive-green);
    text-align: left;
    color: var(--soft-white);
    font-family: var(--font);
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    width: 100%;
    display: block;
}

.box-full {
    width: 98%;
    display: block;
}

.gallery {
    justify-content: space-between;
    margin: 0 auto;
}

.gallery-text {
    margin: 0 0 20px 0;
}

.card {
    flex-direction: column;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    padding: 0px;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
}

.view-box {
    background-color: var(--olive-green);
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
    color: var(--soft-white);
    width: 80%;
}

.bottom {
    text-align: center;
    color: var(--soft-white);
}

.bottom-yellow {
    text-align: center;
    color: var(--champagne-gold);
}

.yellow-bar {
    height: 3px;
    background-color: var(--champagne-gold);
    border: none;
    margin: 0 auto;
}

h1 {}

h2 {
    color: var(--dark-charcoal);
    font-weight: light;
}

.info h3 {
    flex: 1;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

.italics {
    font-style: italic;
    margin: 0 0 20px 0;
}

body {
    background-color: var(--midnight-blue);
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {
    .main {
        font-size: 14px;
    }
    .welcome {
        width: 100%;
    }

    .offerings {
        width: 100%;
    }

    .box {
        width: 10%;
        display: block;
    }

    .box-full {
        width: 50%;
        display: block;
    }
    .gallery {
        width: 100%;
    }
    .card {
        width: 20%;
        display: inline-block;
    }
    .yellow-bar {
        width: 90%;
    }
}

/* MEDIA QUERY LARGE */
@media screen and (min-width: 900px) {
    .main {
        font-size: 16px;
    }
    .welcome {
        width: 90%;
    }

    .offerings {
        width: 90%;
    }

    .box {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        height: 170px;
    }
    .box-full {
        width: 91%;
        display: block;
        height: 250px;
    }
    .gallery {
        width: 90%;
    }
    .card {
        width: 20%;
        display: inline-block;
    }
    .yellow-bar {
        width: 90%;
    }
}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {
    .main {
        font-size: 18px;
    }
    
    .welcome {
        width: 80%;
    }

    .offerings {
        width: 80%;
    }

    .box {
        width: 41%;
        display: inline-block;
        vertical-align: top;
    }

    .box-full {
        width: 91%;
        display: block;
    }
    .gallery {
        width: 80%;
    }
    .card {
        width: 19%;
        display: inline-block;
    }
    .yellow-bar {
        width: 80%;
    }
}